/bin/

.classpath
.project

*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# Eclipse specific
.settings
.cache
.cache-main
.cache-tests

# Intellij
.idea/
*.iml
*.iws

# Other
# src/main/resources/application.conf
.DS_STORE
nb-configuration.xml
